* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: #7C77FF;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #231F8C;
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
}

.logo:hover {
    color: #5A58A5; 
}

.btn-cart {
    width: 200px;
    height: 50px;    
    background-color: #A29EFF;
    border-radius: 80px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-cart:hover {
   color: white;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product-image {
    width: 150px;
    height: 150px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.by-btn {
    border: none;
    outline: none;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.by-btn:hover {
    background-color: #7C77FF;
    color: white;
}

.by-btn:active {
    background-color: rgb(125, 122, 202);
}